* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
}

header {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

hr {
  border: none;
  border-top: 1px solid #C3C3C3;
}

h1 {
  text-align: center;
}

ul {
  font-size: 14px;
}

.file-name {
  font-weight: 900;
}

main {
  margin: 0 auto;
  max-width: 25em;
  padding: 0 1em;
}

main section {
  margin-top: 1em;
}

.required:before {
  color: #FF6D6D;
  content: "*";
  margin-right: 0.5em;
}

.buttons-wrapper {
  text-align: center;
}

label {
  display: block;
  margin-top: 1em;
}

input[type="file"] {
  height: 2.5em;
  width: 100%;
  margin-top: 1em;
}

button {
  background-color: #507DA2;
  border: medium none;
  border-radius: 0.5em;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.6em;
  height: 3em;
  margin: 1em 0;
  min-width: 10em;
  padding: 0.5em;
}

button:hover {
  background-color: #2A5272;
  transition: background-color 1s;
}